main{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    padding: 2rem;
    max-width: 80vw;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}
form h2{
    font-size: 3rem;
    font-weight: 900;

    color: var(--main-color);

    text-transform: uppercase;
}
form section{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#password{
    margin-right: 1rem;
}
#bloodType{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#bloodType div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}
#bloodType label{
    background-color: var(--gray);
    padding: .5rem;
    width: 5rem;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bloodType label:hover,
#bloodType label.active{
    background-color: var(--main-color);
    color: var(--white);
}
#bloodType input{
    display: none;
}
#termsLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    cursor: pointer;
}
#termsLabel input{
    margin: 0;
    width: 1.5rem;
    margin-right: 1rem;
}
#termsLabel p{
    user-select: none;
}
#termsLabel p b{
    font-weight: 600;
    color: var(--main-color);
    cursor: pointer;
}
#termsLabel p b:hover{
    text-decoration: underline;
}
.form-section input:first-of-type{
    margin-right: 1rem;
}
.form-section input:last-of-type{
    margin-right: 0rem;
}

#postalCode,
#city{
    width: 20rem;
}