<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../public/styles/global.css">
    <link rel="stylesheet" href="../public/styles/login.css">
</head>
<body>
    <nav>
        <section>
            <img src="../public/Drop.svg">            
        </section>
        <section>
            <a href="../../index.html">home</a>
            <a href="#">about us</a>
            <a href="./Register.html">sign up</a>
            <a class="active" href="./Login.html">sign in</a>
            <a href="#">contact us</a>
        </section>
    </nav>
    <main>
        <form action="./Login.html" method="post">
            <div>sign in</div>
            <input type="email" id="useremail" placeholder="Your email ...">
            <input type="password" name="userpassword" id="userpassword" placeholder="Your Password ...">
            <label>
                <input type="checkbox" name="remember" id="remember">
                <p>Remember my credentials on this computer</p>
            </label>
            <button type="submit">
                # be a hero
            </button>
            <a href="#">Forgot your password?</a>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</body>
</html>
